@import "../../../../global.scss";

.search-bar {
  background-color: #ffffff;
  height: 40px;
  border-bottom: 1px solid $brown-color;
  div {
    position: relative;
    input.search-field {
      padding: 2px 10px;
      border: 1px solid $brown-color;
      height: 20px;
      width: 200px;
      margin: 7px 0px;
      position: absolute;
      right: 0px;
    }
  }
}
.app-page-container {
  h1 {
    margin: 16px 0px;
    text-align: center;
  }

  .books-list {
    .book-card {
      margin: 10px 0px;
    }
  }
}
