<div class="book-card-container" fxLayout="row">
  <div class="book-cover">
    <img mat-card-image [src]="book?.cover" alt="Book cover">
  </div>
  <div class="book-description">
    <h2 class="book-title">
      {{book?.title}}
    </h2>
    <div class="book-reference">
      <div class="key">Référence :</div>
      <div class="value">{{book?.isbn}}</div>
    </div>
    <div class="book-price">
      <div class="key">prix :</div>
      <div class="value">{{book?.price | currency:'EUR':'symbol':'':'fr'}}</div>
    </div>
    <div class="book-synopsys">
      <div class="key">Synopsys :</div>
      <div class="value">
        <p *ngFor="let paragraph of book?.synopsis">{{paragraph}}</p>
      </div>
    </div>
  </div>
</div>