@import "../../../global.scss";

header {
  height: 60px;
  background-color: $brown-color;
  div {
    margin: 0px auto;
    height: 100%;
    width: $xxxl-width;
    @include row-align();
    justify-content: space-between;
    align-items: center;
    button {
      background: 0;
      border: 0;
      cursor: pointer;
      position: relative;
      .notifications {
        width: 18px;
        height: 18px;
        border-radius: 8px;
        background-color: #b12704;
        position: absolute;
        color: white;
        top: 0px;
        padding-left: 6px;
        left: 28px;
      }
    }
    .header-title {
      color: #ffffff;
      font-size: 23px;
      font-weight: bold;
    }

    @include media-queries-breakpoint(xxl) {
      width: $xxl-width;
    }

    @include media-queries-breakpoint(xl) {
      width: $xl-width;
    }

    @include media-queries-breakpoint(lg) {
      width: $lg-width;
    }

    @include media-queries-breakpoint(md) {
      width: $md-width;
    }

    @include media-queries-breakpoint(sm) {
      width: $sm-width;
    }

    @include media-queries-breakpoint(xs) {
      width: $xs-width;
    }
  }
}
