/*********  Des styles css globales de l'application  ********/

/*** Variables de WIDTH du container des pages pourles différents breakpoints ***/
$xs-width: 90%;
$sm-width: 550px;
$md-width: 790px;
$lg-width: 854px;
$xl-width: 1010px;
$xxl-width: 1170px;
$xxxl-width: 1330px;

/*** Variables de couleurs ***/
$background-color: #f8e8c6;
$brown-color: #a38f6b;

/*** Mixins ***/
@mixin media-queries-breakpoint($point) {
  @if $point == xs {
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 720px) and (max-width: 959.98px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 960px) and (max-width: 1023.98px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 1024px) and (max-width: 1279.98px) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: 1280px) and (max-width: 1439.98px) {
      @content;
    }
  } @else if $point == xxl {
    @media (min-width: 1440px) and (max-width: 1599.98px) {
      @content;
    }
  }
}

@mixin row-align() {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
}

/******  CSS GLOBALE  ******/
body {
  margin: 0px;
  background-color: $background-color;
  h1 {
    color: $brown-color;
    margin: 0px;
    font-size: 26px;
    font-weight: bold;
  }
  h2 {
    color: $brown-color;
    margin: 0px;
    font-size: 23px;
    font-weight: bold;
  }
  .app-page-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .app-page-container,
  .search-bar div {
    margin-left: auto;
    margin-right: auto;
    width: $xxxl-width;
    @include media-queries-breakpoint(xxl) {
      width: $xxl-width;
    }

    @include media-queries-breakpoint(xl) {
      width: $xl-width;
    }

    @include media-queries-breakpoint(lg) {
      width: $lg-width;
    }

    @include media-queries-breakpoint(md) {
      width: $md-width;
    }

    @include media-queries-breakpoint(sm) {
      width: $sm-width;
    }

    @include media-queries-breakpoint(xs) {
      width: $xs-width;
    }
  }
}
